{% extends "base.html" %}

{% block content %}
  <h1>Newspaper Table</h1>
  {% if newspaper_list %}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Date of publish</th>
        <th>Topic</th>
      </tr>
    </thead>
    <tbody>
      {% for newspaper in newspaper_list %}
        <tr>
          <td><a href="{% url "newsapp:newspaper-detail" pk=newspaper.id %}">{{ newspaper.id }}</a></td>
          <td>{{ newspaper.title }}</td>
          <td>{{ newspaper.content }}</td>
          <td>{{ newspaper.published_date }}</td>
          <td>{{ newspaper.topic.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are no newspapers in newspaper agency</p>
  {% endif %}
{% endblock %}