{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Topics
    <a style="float: right" href="{% url 'newsapp:topic-create' %}" class="btn btn-primary">Create</a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-primary" type="submit" value="🔍">
  </form>

  {% if topic_list %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in topic_list %}
          <tr>
            <td>{{ topic.id }}</td>
            <td>{{ topic.name }}</td>
            <td>
              <a href="{% url 'newsapp:topic-update' pk=topic.id %}">Update</a>
            </td>
            <td>
              <a href="{% url 'newsapp:topic-delete' pk=topic.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No topics found</p>
  {% endif %}
{% endblock %}
