{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Newspaper list
    <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-primary" type="submit" value="🔍">
  </form>

  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <a href="{% url "newspaper:newspaper-detail" pk=newspaper.id %} ">{{ newspaper.id }}</a>
          {{ newspaper.title }} ({{ newspaper.topic.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspaper in taxi</p>
  {% endif %}
{% endblock %}
