{% extends "base.html" %}

{% block content %}
  <h1>{{ newspaper.title }}</h1>
  <p><strong>Newspaper:</strong> ({{ newspaper.topic.name }}, {{ newspaper.topic.country }})</p>
  <h3>
    Redactors:
    {% if user not in newspaper.redactor.all %}
      <a style="float: right" href="{% url 'newspaper:toggle_assign_to_newspaper' pk=newspaper.id %}" class="btn btn-success">Assign me to this newspaper</a>
    {% else %}
      <a style="float: right" href="{% url 'newspaper:toggle_assign_to_newspaper' pk=newspaper.id %}" class="btn btn-danger">Delete me from this newspaper</a>
    {% endif %}
  </h3>
  <hr>
  <ul>
    {% for redactor in newspaper.redactor.all %}
      <li>
        <strong><a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.first_name }} {{ redactor.last_name }}</a></strong>
        (Years of experience: {{ redactor.years_of_experience }})
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-success">Update</a>
  <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
