{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{{ request.path }}">Newspaper</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-sm btn-neutral">Create new news</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        {% if newspaper_list %}
          <h3 class="font-weight-bolder text-center text-white">NEWSPAPER TABLE</h3>
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <form action="" method="get" class="mb-0 form-inline">
                {{ search_form }}
                <input class="btn btn-sm btn-primary" type="submit" value="🔍 Search">
              </form>
            </div>
            <!-- Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort text-center" data-sort="name">ID</th>
                    <th scope="col" class="sort text-center" data-sort="budget">Title</th>
                    <th scope="col" class="sort text-center" data-sort="status">Update</th>
                    <th scope="col" class="sort text-center" data-sort="completion">Delete</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for newspaper in newspaper_list %}
                    <tr>
                      <th scope="row" class="text-center">
                        <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.id }}</a>
                      </th>
                      <td class="budget text-center">
                        {{ newspaper.title }}
                      </td>
                      <td class="text-center">
                        <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-sm btn-success">
                          Update
                        </a>
                      </td>
                      <td class="text-center">
                        <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-sm btn-danger">
                          Delete
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Card footer -->
            {% include "includes/pagination.html" %}
          </div>
        {% else %}
          <div class="card">
            <div class="card-header border-0">
              <p class="h1 text-center font-weight-bold pb-300">There are no newspapers in the agency.</p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
